.home-sect1-div{
    height: 90vh;
    width: 100%;
    background-image: url('https://d3owbckoeihl9o.cloudfront.net/images/10at/wp-content/uploads/2019/10/Allibert-Dolomites-00-Enjoying-trekking-in-the-Dolomites.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
    background-blend-mode: multiply;
    background-color: rgb(144, 134, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 1.5rem;
    transition: all ease .5s;
}
.home-sect1-div>hr{
    border: none;
    height: 3px;
    width: 5%;
    background-color: #54e0a6;
}
.home-sect1-div>h1{
    font-size: 4.5rem;
    transition: all ease .5s;
}
.learn-more-button{
    border-radius: 30px;
    font-size: 16px;
    width: 180px;
    height: 50px;
    border: none;
    background-color: #06752EFF;
    color: white;
    transition: all 0.5s;
    margin-top: 35px;
}
.learn-more-button:hover{
    background: rgb(11, 66, 31);
}

@media screen and (max-width: 850px) {
    .home-sect1-div>h1{
        font-size: 3.5rem;

    }
    /* .home-sect1-div>button{
        /* font-size: 0.6rem;
        height: 7%;
        width: 15%;
    } */
}

@media screen and (max-width: 580px) {
    .home-sect1-div>h1{
        font-size: 2.5rem;

    }
    .home-sect1-div>b{
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .home-sect1-div>h1{
        font-size: 2rem;

    }
    .home-sect1-div>b{
        font-size: 1rem;
    }
    .home-sect1-div>hr{
        width: 15%;
    }
    

}