header {
    width: 100%;
    height: 140px;
    background: none;
    position: absolute;
    color: #fff;
    transition: all ease .5s;
    animation: header-animation 1.5s;
}

@keyframes header-animation {
    from {
        top: -200px;
    }
    to {
        top: 0px;
    }
}

.header-logo-link {
    text-decoration: none;
    color: #fff;
}
.header-data {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 45px;
    font-size: 17px;
}

nav {
    display: flex;
    gap: 45px;
}

.nav-link {
    text-decoration: none;
    transition: all ease .5s;
}

.nav-link:hover {
    color: #06752EFF;
}

.tours-button {
    height: 50px;
    background: #06752EFF;
    border: none;
    color: #fff;
    width: 180px;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease .5s;
}

.tours-button:hover {
    background: rgb(11, 66, 31);
}

.drop-menu {
    border: none;
    color: #fff;
    background: #06752EFF;
    cursor: pointer;
    border-radius: 4px;
    width: 45px;
    height: 45px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: all ease .5s;
}

.drop-menu:hover {
    background: rgb(11, 66, 31);
}

.offcanvas-close {
    border: none;
    color: #fff;
    background: #06752EFF;
    cursor: pointer;
    border-radius: 4px;
    width: 45px;
    height: 45px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease .5s;
}
.offcanvas-close:hover {
    background: rgb(11, 66, 31);
}
.offcanvas-nav {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.offcanvas-nav-link {
    text-decoration: none;
    width: auto;
    color: #222;
    font-size: 17px;
    transition: all ease .5s;
}

.offcanvas-nav-link:hover {
    color:  #06752EFF;
}

.nav-link-div {
    width: 100%;
    border-top: 1px solid gray;
    border-left: none;
    border-right: none;
    padding: 15px 0px 15px 0px;
}

#drop-menu {
    height: 50vh;
}

.contact-links {
    border-top: 1px solid gray;
    padding: 15px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contact-links>a {
    text-decoration: none;
    color: #222;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links > a {
    font-size: 26px;
    color: #06752EFF;
}

@media screen and (max-width: 770px){
    .drop-menu {
        display: block;
    }
    .header-links > nav, .tours-button {
        display: none;
    }
}