footer {
    margin: 40px 0px 0px 0px;
    height: 300px;
    width: 100%;
    position: relative;
    bottom: 0px;
    background: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 22px 10px 0px 10px;
}
.footer-social-links {
    display: flex;
    gap: 20px;
}
.footer-social-links > a {
    color: #fff;
    font-size: 23px;
}
.magical {
    color: rgb(174, 173, 173);
}
.magical-site {
    color: rgb(174, 173, 173);
}